<!DOCTYPE html>
<html lang="en">
<head>
	<style>
	img {
	  max-width: 100%;
	  height: auto;
	}
	</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<form action="/noteFilePaths">
	<button type="submit">
    <img src="static/images/{{name}}" >
    </button>
	
   <input type="hidden" id="custId" name="imgfilename" value="{{name}}">
   {% for item in outDirs %}
        <input type="checkbox" id="item" name="category{{loop.index0}}" value="{{item}}">
		<label for="item">{{item}}</label><br>
    {% endfor %}
 
</form>

</body>
</html>